:root {
  /* Change those variables to tune every colors and animations */
  --tittleFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --h1Size: 175px;
  --h2Size: 75px;

  --navbarColor: rgba(255, 255, 255, 0.6);
  --footerColor: rgba(44, 51, 53, 0.6);
  --navbarTextColor: rgb(75, 75, 75);

  --cardBorder: 3px solid rgba(0,0,0,.4);
  --cardButton: rgb(127, 255, 212);

  --hoverEffectTime: 0.45s;
  --hoverNav: var(--cardButton);
  --hoverCardButton: #248991;

  scroll-behavior: smooth !important;
}

/*Custom Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #999C99;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #434343;
}


/* NAVBAR */

.navbar {
  background-color: var(--navbarColor);
  position: sticky !important;
  top: 0 !important;
  z-index: 1 !important;
}

.navbar-text, .navbar-icon {
  color: var(--navbarTextColor) !important;
  text-decoration: none !important;
  font-weight: bold;

  position: relative;

  transition: var(--hoverEffectTime);
}

.navbar-text {
  font-size: 45px;
  margin-right: 81vh;
}


/* DROPDOWN */

.dropdown {
  width: auto !important;
}

.dropdown-toggle {
  background-color: transparent !important;
  border-color: transparent !important;
  margin-right: 2vh;
}

.dropdown-header {
  font-size: 20px !important;
  font-weight: bold;
}


.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus, .btn-check:focus+.btn, .btn:focus {
  box-shadow: none !important;
  /* histoire de lutter contre les preset de bootstrap react */
}

.navbar-text:hover, .navbar-icon:hover, .dropdown-toggle:hover {
  color: var(--hoverNav) !important;
}


/* ARTICLE */

.article {
  margin: 10px !important;
}

.img-article {
  height: 150px;
}

.card {
  border: 3px solid rgba(0,0,0,.4) !important;
}

.card-title {
  font-weight: bold !important;
}

.card-body {
  background-color: rgba(0,0,0,.03);
}

.card-button {
  color: var(--cardButton) !important;
  border: 0px !important;
  background-color: black !important;
  margin: 0px !important;
  padding: 1px !important;
}

.filters {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.canceled {
  margin-right: 0px !important;
}

.titles {
  color: rgba(255, 255, 255,0.7);
  text-align: center;
  margin-top: 150px;
}

.hover:hover {
  color: #248991;
  transition: var(--hover);
}

p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px !important;
  font-weight: normal !important;
}

h1 {
  font-size: var(--h1Size) !important;
  font-family: var(--tittleFont);
}

h2 {
  font-size: var(--h2Size) !important;
}

h3 {
  text-align: center !important;
  margin-top: 20px !important;
}

h4 {
  text-align: center !important;
  margin: 20px;
  font-family: var(--tittleFont);
}

.all-articles {
  height: 575px;
  overflow-y: scroll;
  border: 1px solid rgba(0,0,0,.5);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.footer {
  margin-top: 250px;
  height: 350px;
  background-color: var(--footerColor);
}

.bot-footer {
  height: 50px;
  background-color: var(--footerColor);
}

body {
  overflow-y: auto !important;
}

.center-align {
  text-align: center !important;
}

.form {
  font-weight: bold;
  margin: 30px !important;
  display: flex !important;
}

.type-price {
  width: 80px !important;
  margin-left: auto;
}

.modal-dialog {
  margin: 5rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 600px !important;
}

.modal-content {
  width: 700px !important;
  height: 500px !important;
}