:root {
  --hover: rgb(151, 166, 233);
  --navbarFooter: rgba(45, 52, 54, 0.6);
  --hoverEffectTime: 0.45s;
  --dropdownSize: auto;
}

.navbar {
  background: linear-gradient(180deg, var(--navbarFooter) 85%, white 100%);
  min-height: 8.5vh;
}

.navbar-text, .navbar-icon {
  color: rgb(238, 238, 238) !important;
  text-decoration: none !important;
  font-weight: bold;

  position: relative;

  transition: var(--hoverEffectTime);
}

.navbar-text {
  font-size: 45px;
  margin-right: 81vh;
}

.dropdown {
  width:var(--dropdownSize) !important;
}

.dropdown-toggle {
  background-color: transparent !important;
  border-color: transparent !important;
  margin-right: 2vh;
}

.dropdown-header {
  font-size: 20px !important;
  font-weight: bold;
  justify-content: center;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
  /* histoire de lutter contre les preset de bootstrap react */
}

.navbar-text:hover, .navbar-icon:hover, .dropdown-toggle:hover {
  color: var(--hover) !important;
}