/*Custom Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #999C99;
}
::-webkit-scrollbar-thumb {
border-radius: 10px;
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #434343;
}

.App {
  text-align: center;
}

.navbar {
  background: linear-gradient(180deg, rgb(45, 52, 54) 85%, rgb(255, 255, 255) 100%);
  min-height: 8.5vh;
}

.navbar-text, .navbar-icon {
  color: rgb(211, 211, 211) !important;
  text-decoration: none !important;

  position: relative;

  transition: 0.45s;
}

.navbar-text {
  font-weight: bold;
  font-size: 45px;
 
  margin-left: 50vh;
  margin-bottom: 10px !important; /* TO FIX */
}

.navbar-icon {
  margin-left: 95%;
}

.navbar-text:hover, .navbar-icon:hover {
  color: rgb(136, 149, 209) !important;
}

.article {
  margin: 10px !important;
}

.img-article {
  height: 275px;
}

.card {
  border: 3px solid rgba(0,0,0,.4) !important;
}

.card-title {
  font-weight: bold !important;
}

.card-body {
  background: linear-gradient(-160deg, rgb(255, 255, 255) 1%, rgb(76, 94, 99) 100%);
}

.filters {
  border-left: 2px solid rgba(0,0,0,1);
  border-right: 2px solid rgba(0,0,0,1);
}